<!doctype html>
    <title>Добро пожаловать в программу подсчета пикселей!</title>
    <h1>Добро пожаловать в программу подсчета пикселей!</h1>

    <title>Загрузите интересующее Вас изображение:</title>
    <h2>Загрузите интересующее Вас изображение:</h2>

    <form action="/file_uploading" method=post enctype=multipart/form-data>

      <p><input type=file name=file>

    <title>Введите интересующий Вас HEX код цвета:</title>
    <h2>Введите интересующий Вас HEX код цвета:</h2>

    <p>HEX код цвета: <tr><td><input name='hex_color' type='TEXT'></td></tr></p>

    <input type=submit value="Запуск программы расчёта!">
    </form>